[data-reach-skip-link] {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

[data-reach-skip-link]:focus{
    position:static;
    width:auto;
    height:auto;
    color: palevioletred;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Roboto Monospace', monospace;
}