[data-reach-skip-link] {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

[data-reach-skip-link]:focus{
    position:static;
    width:auto;
    height:auto;
    color: #DF2A3B;
    font-size: 1.5rem;
    text-decoration: none;
}
